{% trans_default_domain 'yiggle_form_wizard' %}

<div class="yw-receipt">
    <div class="yw-receipt-head">
        <div class="yw-receipt-title">{{ 'yiggle_form_wizard.wizard.receipt.title'|trans }}</div>
    </div>

    {% if receipt.isEmpty() %}
        <div class="yw-receipt-empty">{{ 'yiggle_form_wizard.wizard.receipt.empty'|trans }}</div>
    {% else %}
        {% if receipt.ungroupedLines|length > 0 %}
            <div class="yw-receipt-group">
                <ul class="yw-receipt-lines">
                    {% for line in receipt.ungroupedLines %}
                        <li class="yw-receipt-line">
                            <div>
                                {{ line.label }}
                                {% if line.description %}<small>{{ line.description }}</small>{% endif %}
                            </div>
                            <div>{{ (line.amountCents / 100)|format_currency('EUR', {rounding_mode: 'floor'}) }}</div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% for group in receipt.groupedLines %}
            <div class="yw-receipt-group">
                <div class="yw-receipt-group-title">
                    <strong>{{ group.title }}</strong>
                </div>

                {% for item in group.items %}
                    <div class="yw-receipt-group-item">
                        <div class="yw-receipt-group-item-title">{{ item.title }}</div>
                        <ul class="yw-receipt-lines">
                            {% for line in item.lines %}
                                <li class="yw-receipt-line">
                                    <div>
                                        {{ line.label }}
                                        {% if line.description %}<small>{{ line.description }}</small>{% endif %}
                                    </div>
                                    <div>{{ (line.amountCents / 100)|format_currency('EUR', {rounding_mode: 'floor'}) }}</div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}

    <div class="yw-receipt-total">
        <span>{{ 'yiggle_form_wizard.wizard.receipt.total'|trans }}</span>
        <span class="yw-receipt-total-value">
            {{ (receipt.totalInCents / 100)|format_currency('EUR', {rounding_mode: 'floor'}) }}
        </span>
    </div>
</div>
